/* FONTS */

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ALS Gorizont Expanded Regular';
  src: url('../fonts/ALS-Gorizont-Expanded-Regular.woff2') format('woff2'),
    url('../fonts/ALS-Gorizont-Expanded-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(
    225.89deg,
    rgb(96, 9, 54) -90.898%,
    rgb(68, 6, 38) -44.575%,
    rgb(0, 0, 0) 66.945%
  );
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------- END -------- */

/* COMMON */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

._req {
  border-color: red;
}

/* -------- END -------- */

/* BUTTONS */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.action__btn {
  max-width: 250px;
  width: 100%;
  height: 50px;
  font-size: 12px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  transition: all 0.5s ease 0s;
}

.action__btn:hover {
  color: #fff;
  background: linear-gradient(
    156.53deg,
    rgb(0, 0, 0) -15.576%,
    rgb(96, 9, 54) 104.548%
  );
}

.btn-show {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-show::after {
  content: '';
  display: inline-block;
  width: 17px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../images/icons/icon_arrow-right.svg');
  background-size: 25px;
}

.arrow-up::after {
  transform: rotate(180deg);
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  margin-top: 100px;
}

.container__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 70px;
  line-height: 110%;
  text-transform: uppercase;
}

.container__title::after {
  content: '';
  max-width: 915px;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
  background-color: #a13281;
}

@media (max-width: 1540px) {
  .container {
    max-width: 1280px;
  }
}

/* -------- END -------- */

/* REUSABLE */

.whiteout {
}

/* -------- END -------- */

/* SLIDER */

.swiper-pagination {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}

/* SLIDER 1 */

.slider__btn-prev,
.slider__btn-next {
  width: 84px;
  height: 84px;
  display: flex;
  background-image: url('../images/icons/icon_arrow-corner.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  background-color: rgb(216, 233, 250);
  box-shadow: 0px 4px 14.4px 0px rgba(0, 0, 0, 0.1);
  border: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  transform: rotate(-180deg);
  z-index: 3;
}

.slider__btn-next {
  transform: rotate(0deg);
}

.slider__btn-prev.swiper-button-disabled,
.slider__btn-next.swiper-button-disabled {
  background-color: #fff;
}

.template-slider__pagination .swiper-pagination-bullet {
  display: flex;
  margin: 0 !important;
  background: #d8e9fa !important;
  height: 12px !important;
  width: 12px !important;
  border: 1px solid rgba(14, 33, 55, 0.1) !important;
}

.template-slider__pagination .swiper-pagination-bullet-active {
  background: #058fb9 !important;
}

.template-slider__pagination {
  height: 84px;
  position: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.template__slider-nav {
  top: auto;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  display: flex;
  gap: 12px;
}

@media (max-width: 1280px) {
  .slider__btn-next {
    margin-right: 40px;
  }

  .slider__btn-prev {
    margin-left: 40px;
  }
}

@media (max-width: 564px) {
  .slider__btn-prev,
  .slider__btn-next {
    width: 59px;
    height: 59px;
    background-size: 17px;
  }

  .template-slider__pagination {
    height: 59px;
    gap: 12px;
  }
}

/* -------- END -------- */

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 755px;
  width: 100%;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 17px;
  background-color: #fff;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  display: flex;
  align-self: flex-end;
  margin: 24px 24px 0px 0px;
  width: 36px;
  height: 36px;
  background: url('../images/icons/icon_close_popup.svg') center/32px no-repeat;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .popup__close {
    margin: 20px 20px 0px 0px;
  }

  .popup__content {
    max-width: 664px;
  }
}

@media (max-width: 564px) {
  .popup__close {
    width: 24px;
    height: 24px;
    margin: 12px 12px 0px 0px;
  }

  .popup__content {
    max-width: 664px;
  }
}

/* -------- END -------- */

/* FEEDBACK FORM */

.feedback-first .container__title::after {
  max-width: 520px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback__form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.feedback__text {
  font-size: 15px;
  text-align: center;
}

.feedback__text a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.feedback__form-title {
  font-size: 40px;
  font-weight: 600;
}

.feedback__form-subtext {
  max-width: 540px;
  font-size: 20px;
  line-height: 30px;
}

.feedback__wrapper {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px auto auto auto;
  padding-bottom: 63px;
}

.feedback__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback__input {
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 24px 46px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}

.feedback__input::placeholder {
  color: #fff;
}

.icon-user {
  background: url(../images/icons/icon_user.svg) no-repeat 22px center;
  background-position: -26px;
  background-origin: content-box;
}
.icon-phone {
  background: url(../images/icons/icon_phone.svg) no-repeat 22px center;
  background-position: -26px;
  background-origin: content-box;
}

.feedback__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback__button {
  width: 100%;
  height: 80px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 100%;
  border-radius: 10px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.feedback-second.section {
  margin-top: 0px;
  padding: 80px 0px 88px 0px;
}

.feedback-second__form {
  max-width: 850px;
  margin: 0 0 0 auto;
}

.feedback-second__title {
  margin-bottom: 60px;
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 40px;
  line-height: 110%;
  text-align: right;
}

.feedback__form-inputs-row {
  display: flex;
  gap: 30px;
}

.feedback-second__form .feedback__text {
  margin: 40px 0px 35px 0px;
  text-align: left;
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  margin-top: 20px;
  z-index: 100;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.header__top-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-inner {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header__top-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__logo {
  max-width: 190px;
  height: 97px;
  display: flex;
}

.mobile__logo {
  display: none;
}

.header__logo-text {
  font-size: 14px;
  font-weight: 300;
}

.header__top-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__top-links ul:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__top-links ul:nth-child(1) li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__top-links ul:nth-child(1) li span,
.header__top-links ul:nth-child(1) li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 300;
}

.header__top-links ul:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__top-links ul:nth-child(2) li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.47);
  border-radius: 50%;
}

.header__bottom-container {
  max-width: 100%;
  width: 100%;
}

.header__menu {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  padding-bottom: 25px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: #db336c;
}

.sub-menu__list {
  width: 100%;
  min-width: max-content;
  display: none;
  position: absolute;
  left: 0;
  top: 18px;
  margin-top: 25px;
  padding-bottom: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

.sub-menu__list > li:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.sub-menu__list > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sub-menu__link {
  display: flex;
  padding: 15px 15px 10px 14px;
  font-size: 13px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.sub-menu__link:hover {
  color: #db336c;
}

.drop__link {
  position: relative;
}

.drop__link:hover .sub-menu__list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1280px) {
  .header .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header__nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
  }

  .mobile__logo {
    max-width: 328px;
    width: 100%;
    margin-top: 0px;
    display: flex;
  }

  .icon__burger {
    position: relative;
    z-index: 10;
    width: 103px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    background: linear-gradient(
      90deg,
      rgb(255, 125, 2),
      rgb(252, 161, 10) 100%
    );
  }

  .burger__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    margin: 0px 40px;
    border-bottom: 1px solid rgba(14, 33, 55, 0.2);
    z-index: 100;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 38px;
    height: 27px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: #fff;
    position: absolute;
    width: 38px;
    height: 3px;
    top: 12.5px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 10px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 14px;
  }

  .menu__burger.active > span {
    background-color: #fff;
  }

  .header__nav.active {
    transform: translateX(0);
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: translateX(110%);
    transition: transform 0.5s;
    overflow: auto;
    z-index: 2;
    border-radius: 0px 0px 0px 3px;
    background: #fff;
  }

  .header__menu {
    max-width: 515px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    padding: 0px 40px 60px 40px;
  }

  .header__top-container {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
    padding: 0px 40px;
  }

  .header__container {
    padding-top: 189px;
  }

  .header__top-inner .header__logo {
    display: none;
  }

  .header__phone-container {
    grid-column: 1 / 3;
    order: 1;
    padding: 28px 0px;
    border-top: 1px solid rgba(14, 33, 55, 0.2);
    border-bottom: 1px solid rgba(14, 33, 55, 0.2);
  }

  .header__top-inner {
    padding: 29px 0px;
    order: 2;
  }

  .header__socials-2 {
    order: 3;
  }

  .sub-menu__list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 10px;
    padding-left: 10px;
    transform: scale(0);
    position: absolute;
  }

  .sub-menu__list.active {
    transform: scale(1);
    position: initial;
  }

  .sub-menu__link {
    padding: 10px 0px;
    font-size: 18px;
  }

  .sub-menu__list > li {
    border-top: none;
  }

  .drop__link {
    flex-direction: column;
    align-items: flex-start;
  }

  .drop__link:hover .drop__icon::after {
    transform: rotate(0deg);
  }
}

@media (max-width: 564px) {
  .mobile__logo {
    max-width: 158px;
  }

  .icon__burger {
    width: 76px;
    height: 50px;
  }

  .burger__container {
    padding-bottom: 20px;
  }

  .header__container {
    padding-top: 122px;
  }

  .header__menu {
    padding-bottom: 32px;
  }

  .menu__link {
    font-size: 16px;
    line-height: 24px;
  }

  .header__phone-container {
    padding: 20px 0px;
    grid-column: 1 / 2;
  }

  .header__phone-inner a {
    font-size: 18px;
  }

  .header__phone-inner span {
    font-size: 14px;
    line-height: 21px;
  }

  .header__top-inner {
    justify-content: center;
    padding: 32px 0px;
  }

  .header__socials-1 {
    width: 100%;
    justify-content: space-between;
  }

  .header__socials-2 {
    padding-bottom: 39px;
  }

  .sub-menu__link {
    padding: 5px 0px;
    font-size: 14px;
  }
}

/* -------- END -------- */

/* BANNER */

.banner {
  position: relative;
  margin-top: -201px;
}

.banner__img-container {
  position: relative;
}

.banner__img {
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.banner__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner .container {
  position: absolute;
  top: 281px;
  left: 0;
  right: 0;
  width: 100%;
}

.banner__text-container {
  max-width: 938px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.banner__title {
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 74px;
  line-height: 110%;
}

.banner__title span {
  color: #db336c;
}

.banner__subtitle {
  font-size: 20px;
  line-height: 120%;
}

.banner__button {
  max-width: 440px;
  height: 75px;
  font-size: 22px;
  color: #fff;
  box-shadow: 4px 10px 18px 0px rgba(255, 255, 255, 0.2);
  background-color: #db336c;
  transition: all 500ms ease-in-out;
}

.banner__button:hover {
  background-color: #ce3064;
}

/* -------- END -------- */

/* TARIFFS */

.tariffs {
}

.tariffs__inner {
  display: flex;
  gap: 30px;
}

.tariffs__list {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tariffs__list li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tariffs__list li span {
  font-size: 16px;
  line-height: 125%;
}

.tariffs__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 35px;
}

.tariffs__card {
  position: relative;
  height: fit-content;
  border: 1px solid rgba(68, 6, 38, 0.2);
  border-radius: 15px;
  box-shadow: 2px 10px 50px 0px rgba(255, 255, 255, 0.25),
    0px 4px 18px 0px rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    130.61% 173.14% at 91% -34%,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 100%
  );
}

.tariffs__card-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  max-width: 165px;
  width: 100%;
}

.tarffis__card-img {
  width: 100%;
  height: 265px;
  display: flex;
  border-radius: 15px;
}

.tariffs__badge {
  position: absolute;
  top: -40px;
  right: -55px;
  max-width: 180px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #db336c;
  border-radius: 3px;
  transform: rotate(-12deg);
}

.tariffs__card-description {
  color: #000;
}

.tariff__card-1 .tariffs__card-description {
  padding: 15px 30px 0px 30px;
}

.tariffs__card-title {
  display: flex;
  padding-bottom: 10px;
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
  border-bottom: 1px solid rgba(68, 6, 38, 0.5);
}

.tariff__card-1 .tariffs__card-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.tariff__card-1 .tariffs__card-top-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tariffs__card-top-item span {
  font-size: 16px;
  line-height: 110%;
}

.tariff__card-1 .tariffs__card-bottom {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.tariffs__card-price {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'ALS Gorizont Expanded Regular';
}

.price-full {
  font-size: 14px;
  line-height: 110%;
}

.lt {
  text-decoration: line-through;
}

.text-m {
  font-size: 16px;
}

.price-sale {
  font-size: 16px;
  line-height: 110%;
}

.price {
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 110%;
}

.price span:last-child {
  font-size: 15px;
}

.card__popup {
  height: 55px;
  margin: 20px 0px;
  border: 1px solid #440626;
  font-size: 16px;
  color: #000;
  transition: all 0.5s ease 0s;
}

.card__popup:hover {
  color: #fff;
  background: linear-gradient(
    156.53deg,
    rgb(0, 0, 0) -15.576%,
    rgb(96, 9, 54) 104.548%
  );
}

.tariff__card-2 .tariffs__card-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.tariff__card-2 .tariffs__card-top-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tariff__card-2 .tariffs__card-top-item span {
  font-size: 14px;
}

.tariff__card-2 .tariffs__card-bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-description-2 {
  padding: 20px 30px 0px 30px;
}

.card-description-2 .tariffs__card-title {
  padding-top: 10px;
  border-top: 1px solid rgba(68, 6, 38, 0.5);
}

.tariffs__items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
}

.tariffs__item {
  width: 100%;
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.tariffs__item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.tariffs__item-description span {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.item__popup {
  max-width: 200px;
  width: 100%;
  align-self: flex-end;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #fff;
}

/* -------- END -------- */

/* OPTIONS */

.options__cards {
  display: flex;
  gap: 30px;
}

.options__card {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42.5px 22.5px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 19px;
  background: linear-gradient(
    138.14deg,
    rgba(255, 255, 255, 0.28) -16.048%,
    rgba(219, 51, 108, 0.14) 102.958%
  );
}

.options__card-title-wrapper {
  height: 68px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options__card-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

.options__card-subtitle {
  font-size: 16px;
  line-height: 120%;
}

.options__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0px;
}

.options__list li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.options__list li span {
  font-size: 14px;
  font-weight: 300;
  line-height: 110%;
}

.options__list-price {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options__list-price span:nth-child(1) {
  font-size: 16px;
  line-height: 120%;
}

.options__list-price span:nth-child(2) {
  font-size: 18px;
  line-height: 120%;
}

.options__popup {
  max-width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border: 5px;
  background: linear-gradient(
    151.41deg,
    rgb(3, 3, 3) -23.2%,
    rgb(96, 9, 54) 112.424%
  );
}

.options__popup img {
  transition: all 500ms ease-in-out;
}

.options__popup span {
  font-size: 14px;
}

.options__popup:hover img {
  transform: rotate(90deg);
}

/* -------- END -------- */

/* SALE + SLIDER */

.sale {
  padding: 60px 0px;
  background: #fff;
}

.sale .container__wrapper {
  position: relative;
}

.sale .container__title {
  flex-direction: row-reverse;
  color: #000;
}

.home__container {
  width: 100%;
  display: flex;
}

.slide {
  height: 600px !important;
  /* flex: 1; */
  width: 278px !important;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

.slide::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease 0s;
}

.slide.active::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.slide h3 {
  position: absolute;
  bottom: 40px;
  right: 25px;
  width: max-content;
  height: auto;
  margin: 0;
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.slide p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 30px;
  font-size: 15px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease-in-out 0.2s;
}

.slide__number {
  position: relative;
  top: 30px;
  left: 25px;
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 50px;
  font-weight: 500;
  color: #db336c;
  z-index: 2;
}

.slide__description {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 30px 40px 25px;
}

.slide.active {
  /* flex: 2; */
  width: 440px !important;
}

.slide.active h3 {
  writing-mode: initial;
  position: initial;
  transition: all 0.7s ease-in-out 0.2s;
  transform: rotate(0deg);
}

.slide.active p {
  position: initial;
  margin-top: 40px;
  opacity: 1;
  visibility: visible;
}

/* SERVICE */

.service .container__title {
  gap: 0px;
}

.service .container__title::after {
  max-width: 225px;
}

.service .container__subtitle {
  max-width: 850px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  font-size: 22px;
  line-height: 130%;
}

.service__list {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.service__list-row {
  display: flex;
  justify-content: center;
  gap: 190px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.serivce__list-title {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
}

.service__list-text {
  padding: 20px 0px;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.service__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-check {
  display: inline-block;
  min-width: 18px;
  height: 13px;
  transition: all 0.3s ease-in-out;
}

.icon-check {
  background-image: url('../images/icons/icon_check-02.svg');
}

.service__list-row .serivce__list-title:nth-child(1),
.service__list-row .service__list-text:nth-child(1) {
  max-width: 379px;
  width: 100%;
}
.service__list-row .serivce__list-title:nth-child(2),
.service__list-row .service__list-text:nth-child(2) {
  max-width: 141px;
  width: 100%;
}
.service__list-row .serivce__list-title:nth-child(3),
.service__list-row .service__list-text:nth-child(3),
.service__list-item .service__list-text {
  max-width: 190px !important;
  width: 100%;
}

.service__list-row:first-child {
  background-color: #db336c;
}

.service__list-row:hover:not(:first-child) .service__list-text {
  color: #fff;
}

.service__list-row:hover:not(:first-child) .service__list-item .icon-check {
  background-image: url('../images/icons/icon_check-04.svg');
}

.service__list-row:hover:not(:first-child) {
  background-color: #db336c;
  cursor: pointer;
}

/* -------- END -------- */

/* ABOUT */

.about {
}
.about .container {
  max-width: 1382px;
}
.container__wrapper {
}
.about .container__title::after {
  max-width: 660px;
}
.about__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__inner {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__title {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 26px;
  font-weight: 500;
  line-height: 150%;
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about__description-text {
  font-size: 14px;
  line-height: 150%;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__list li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__list li img {
  width: 30px;
  height: 30px;
}
.about__list li span {
  font-size: 18px;
  line-height: 110%;
}
.about__images {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 937px;
}
.about__images img {
  display: flex;
}
.image__border {
  border-top: 10px solid rgba(161, 50, 129, 0.3);
  border-bottom: 10px solid rgba(161, 50, 129, 0.3);
  border-right: 15px solid rgba(161, 50, 129, 0.3);
  border-left: 15px solid rgba(161, 50, 129, 0.3);
}
.about__images img:nth-child(2) {
  border-left: none;
  border-top: 15px solid rgba(161, 50, 129, 0.3);
  border-bottom: 15px solid rgba(161, 50, 129, 0.3);
  border-right: 7px solid rgba(161, 50, 129, 0.3);
}

.about__images img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.about__images img:nth-child(2) {
  position: absolute;
  bottom: 66px;
  z-index: 2;
}

.about__images img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.video {
  position: relative;
  height: 470px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  background: url('../images/backgrounds/bg_video.jpg');
}

.video img {
  position: absolute;
  right: 50%;
  left: 50%;
  cursor: pointer;
}

/* -------- END -------- */

/* FINANCES */

.finances .container__title {
  flex-direction: row-reverse;
  gap: 0px;
}

.finances .container__title::after {
  max-width: 410px;
}

.finances__cards {
  display: flex;
  align-items: center;
  gap: 16px;
}

.finances__card {
  max-width: 310px;
  width: 100%;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 25px 35px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.finances__card:hover {
  background-color: #db336c;
  box-shadow: 4px 5px 15px 0px rgba(255, 255, 255, 0.2),
    0px 4px 18px 0px rgba(255, 255, 255, 0.2);
}

.finances__card span {
  font-family: 'ALS Gorizont Expanded Regular';
  font-weight: 700;
  font-size: 27px;
  line-height: 41px;
}

.finances__card p {
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
}

.finances__card:hover .finances__card span {
  color: #fff;
}

.finances__card:hover .finances__card p {
  color: #fff;
}

/* -------- END -------- */

.official {
  padding: 100px 0px;
  background-color: #fff;
  color: #000;
}

.official__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.official__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.official__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.official__cards-1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.official__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.official__description span {
  font-size: 20px;
  line-height: 110%;
}

.official__link {
  max-width: 625px;
  width: 100%;
  height: 80px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  border: 5px;
  background: linear-gradient(
    151.41deg,
    rgb(3, 3, 3) -23.2%,
    rgb(96, 9, 54) 112.424%
  );
}

.official__cards-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.official__cards-top {
  display: flex;
  gap: 70px;
}

.official__card-left {
  display: flex;
  gap: 30px;
}

.official__card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22.5px 15px;
  gap: 20px;
  background-color: #f5f4f3;
}

.official__card-icon span {
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
}

.official__rating-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.official__description-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.official__description-inner span {
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
}

.official__description-inner p {
  font-size: 14px;
  line-height: 130%;
}

.official__rating-card {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 19.5px 0px;
  background-color: #f5f4f3;
  border-radius: 10px;
}

.official__rating-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 110%;
}

.official__rating-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.official-star__icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.official__rating-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 110%;
}

.official__card-right {
  max-width: 630px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.official__card-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 25px 14px;
  background-color: #f5f4f3;
  border-radius: 10px;
}

.official__card-props:nth-child(3) {
  grid-column: 1 / 3;
  align-items: center;
}

.official__prop-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.official__prop-row span {
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}

.official__prop-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.official__prop-items span {
  font-weight: 600;
  color: #13952d;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #151514;
}

.official__prop-text {
  font-size: 14px;
  line-height: 110%;
}

.official__cards-bottom {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.official__card-bottom {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.official__text-bottom {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
}

.official__text-bottom span {
  color: #13952d;
}

/* -------- END -------- */

/* SEO */

.seo {
  padding: 100px 0px;
  background-color: #fff;
  color: #000;
}

.seo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__title {
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 70px;
}

.seo__title-2 {
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 40px;
}

.seo__title-3 {
  font-family: 'ALS Gorizont Expanded Regular';
  font-size: 28px;
}

.seo__text-wrapper {
  display: flex;
  gap: 28px;
}

.seo__text {
  font-size: 14px;
  line-height: 24px;
}

.seo__text-hidden {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.seo__list {
  max-width: 50%;
  width: 100%;
}

.seo__list li {
  list-style: inherit;
  list-style-position: inside;
}

.seo__text-wrapper ul li::marker {
  color: rgba(96, 9, 54, 1);
}

.seo__text-wrapper ul,
.seo__text-wrapper ol {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1280px) {
  .seo {
    margin-top: 80px;
  }

  .seo__wrapper {
    gap: 24px;
  }

  .seo__title {
    font-size: 48px;
  }

  .seo__title-2 {
    font-size: 32px;
  }

  .seo__title-3 {
    font-size: 24px;
  }

  .seo__text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .seo__text-wrapper {
    flex-direction: column;
  }

  .seo__list {
    max-width: 100%;
  }
}

@media (max-width: 564px) {
  .seo__title {
    font-size: 24px;
    line-height: 36px;
  }

  .seo__text {
    font-size: 14px;
  }

  .seo__title-2 {
    font-size: 20px;
    line-height: 24px;
  }

  .seo__title-3 {
    font-size: 16px;
    line-height: 20px;
  }
}

/* -------- END -------- */

/* FOOTER */

.footer__wrapper {
  padding: 50px 0px 35px 0px;
}

.footer__top {
  display: flex;
  gap: 24px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__left-top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__links ul:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__links ul:nth-child(1) li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.47);
  border-radius: 50%;
}

.footer__links ul:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__links ul:nth-child(2) li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 300;
}

.footer__links ul:nth-child(2) li img {
  width: 20px;
  height: 20px;
}

.footer__list-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.footer__list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
}

.footer__list div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__bottom-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__bottom-left > span {
  font-size: 13px;
  line-height: 110%;
}

.footer__bottom-col {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.footer__bottom-col span {
  font-size: 13px;
  line-height: 110%;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
}

.footer__bottom-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__bottom-right span {
  font-size: 14px;
  line-height: 110%;
}

.footer__left-top .action__btn {
  max-width: 190px;
  height: 40px;
  font-size: 10px;
}

/* -------- END -------- */
